@{
    ViewData["Title"] = "Index";
    Layout = "DietLayout";
}

<body>
    <form class="ui form segment" asp-controller="Diet" asp-action="AddFood" method="post">
        <input type="submit"  name="test" value="1"/>
    </form>
</body>

