@{
    ViewData["Title"] = "Index";
    Layout = "DietLayout";
}

<body>
    <form class="ui form segment" asp-controller="Diet" asp-action="AddFood" method="post">
        <input type="submit"  name="test" value="1"/>
        <div class="ui left icon input">
            <input placeholder="Search food..." type="text">
            <i class="food icon"></i>
        </div>
    </form>
</body>

