@{
    ViewData["Title"] = "test";
    Layout = "DietLayout";
}

<body>

    <div class="ui medium header">Breakfest</div>

    <div class="ui divider"></div>
   
    <button class="ui basic button">
        <i class="food icon"></i>
        Add Meal
    </button>

    <div class="ui medium header">Dinner</div>

    <div class="ui divider"></div>

    <button class="ui basic button">
        <i class="food icon"></i>
        Add Meal
    </button>

    <div class="ui medium header">Sapper</div>

    <div class="ui divider"></div>

    <button class="ui basic button">
        <i class="food icon"></i>
        Add Meal
    </button>
    <div class="ui medium header">Snacks</div>

    <div class="ui divider"></div>

    <button class="ui basic button">
        <i class="food icon"></i>
        Add Meal
    </button>

    <div class="ui divider"></div>

    <button class="ui center blue button">Zatwierdź</button>
    <!-- 
    <table class="ui sortable celled structured very padded table">
        <thead>
            <tr>
                <th colspan="7">Day</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Fat</th>
                <th>Fibre</th>
                <th>Carbohydrates</th>
                <th>Protein</th>
                <th>Calories</th>
                <th>Quanity</th>
            </tr>
    
        </thead>

        <tbody>
            <tr>
                <td>Monday</td>
            </tr>
            <tr>
                <td>test</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>
                    <div class="ui right labeled input">
                        <input placeholder="Enter Quanity" type="text">
                        <div class="ui basic label">
                            G
                        </div>
                    </div>
                </td>
            </tr>
    
        </tbody>
    </table>
        -->
    
   
</body>


