@model  Framework.Models.DailyFoodDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "test";
    Layout = "DietLayout";
}

<style>
        pad-right {
        padding-right: 2em;
    }

    pad-top {
        padding-top: 2em;
    }

    pad-bottom {
        padding-bottom: 2em;
    }

    .margin-top {
        margin-top: 2em;
    }

        .margin-bottom {
        margin-bottom: 2em;
    }
</style>

<body>

    <form asp-action="Day" asp-controller="Diet" method="post">
        <div class="ui medium header">Breakfest</div>
        <div class="ui divider"></div>
        <div class="margin-bottom" >
            @{
                if (Model.DailyProduct.Any(x => x.MealType == Framework.Models.MealType.Breakfast))
                {
                    var result = Model.DailyProduct.Where(x => x.MealType == Framework.Models.MealType.Breakfast);
                    @await Component.InvokeAsync("DailyProductTable", new { list = result.ToList() })
                }
            }
        </div>
        <button class="ui basic button" value="0" name="buttonType">
            <i class="food icon"></i>
            Add Meal
        </button>

        <div class="ui medium header">Dinner</div>
        <div class="ui divider"></div>
        <div class="margin-bottom">
            @{
                if (Model.DailyProduct.Any(x => x.MealType == Framework.Models.MealType.Dinner))
                {
                    var result = Model.DailyProduct.Where(x => x.MealType == Framework.Models.MealType.Dinner);
                    @await Component.InvokeAsync("DailyProductTable", new { list = result.ToList() })
                }
            }
        </div>
        <button class="ui basic button" value="1" name="buttonType">
            <i class="food icon"></i>
            Add Meal
        </button>

        <div class="ui medium header">Supper</div>
        <div class="ui divider"></div>
        <div class="margin-bottom">
            @{
                if (Model.DailyProduct.Any(x => x.MealType == Framework.Models.MealType.Supper))
                {
                    var result = Model.DailyProduct.Where(x => x.MealType == Framework.Models.MealType.Supper);
                    @await Component.InvokeAsync("DailyProductTable", new { list = result.ToList() })
                }
            }
        </div>
        <button class="ui basic button" value="2" name="buttonType">
            <i class="food icon"></i>
            Add Meal
        </button>

        <div class="ui medium header">Snacks</div>
        <div class="ui divider"></div>
        <div class="margin-bottom">
            @{
                if (Model.DailyProduct.Any(x => x.MealType == Framework.Models.MealType.Snacks))
                {
                    var result = Model.DailyProduct.Where(x => x.MealType == Framework.Models.MealType.Snacks);
                    @await Component.InvokeAsync("DailyProductTable", new { list = result.ToList() })
                }
            }
        </div>
        <button class="ui basic button" value="3" name="buttonType">
            <i class="food icon"></i>
            Add Meal
        </button>

        <div class="ui divider"></div>
        <button class="ui blue button" value="4" name="buttonType">
            Zatwierdź
        </button>
    </form>
    @*<div class="ui progress success">
        <div class="bar">
            <div class="progress"></div>
        </div>
        <div class="label">Everything worked, your file is all ready.</div>
    </div>*@

</body>


