@{
    ViewData["Title"] = "Home Page";
    Layout = "Layout";
}

@section LeftPanel
{
    @await Component.InvokeAsync("LeftMenu")
}

<body>
   
    Opis panelu diety.
</body>


@section Scripts
{
    
}
