@model  Framework.Models.UserGoalsDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "UserGoals";
    Layout = "DietLayout";
}

<p>@Model.BodyFat</p>
<p>@Model.Calories</p>