PersonalTrainer/src/PersonalTrainer/bin/Debug/netcoreapp1.0/PersonalTrainer.deps.json
PersonalTrainer/src/PersonalTrainer/bin/Debug/netcoreapp1.0/PersonalTrainer.dll
PersonalTrainer/src/PersonalTrainer/bin/Debug/netcoreapp1.0/PersonalTrainer.pdb
PersonalTrainer/src/PersonalTrainer/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
PersonalTrainer/src/PersonalTrainer/obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
PersonalTrainer/src/PersonalTrainer/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
PersonalTrainer/src/PersonalTrainer/obj/Debug/netcoreapp1.0/.IncrementalCache
PersonalTrainer/src/PersonalTrainer/obj/Debug/netcoreapp1.0/.SDKVersion
PersonalTrainer/.vs/config/applicationhost.config
PersonalTrainer/src/PersonalTrainer/bin/Debug/netcoreapp1.0/PersonalTrainer.runtimeconfig.dev.json
PersonalTrainer/src/PersonalTrainer/bin/Debug/netcoreapp1.0/PersonalTrainer.runtimeconfig.json
PersonalTrainer/src/PersonalTrainer/obj/Debug/netcoreapp1.0/PersonalTrainerdotnet-compile.deps.json
