@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "Layout";
}
<body>
    @RenderBody()
</body>

@section LeftPanel
{
    <div class="ui left vertical menu">
            <div class="ui medium inverted blue left top vertical menu">
                <div class="item">
                    <div class="ui header">Dieta</div>
                    <div class="menu">
                        <a class="item" asp-controller="Diet" asp-action="Day">Dzisiaj</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Moje produkty</div>
                    <div class="menu">
                        <a class="item" asp-controller="Diet" asp-action="ProductList">Baza produktów</a>
                        <a class="item" asp-controller="Diet" asp-action="AddProduct">Dodaj produkt</a>
                    </div>
                </div>

                <div class="item">
                    <div class="header">Ustawienia</div>
                    <div class="menu">
                        <a class="item" asp-controller="Diet" asp-action="UserGoals">Cele</a>
                    </div>
                </div>
            </div>
    </div>
}

@section Scripts
    {

    <script>  $('.ui.dropdown').dropdown();</script>
  

    <script>
        $(document).ready(function ()
        {
            $('.sortable.table').tablesort();
 
        });
    </script>

    <script>
        $('.tabular.menu .item').tab();
    </script>

    <script>
        $('#search-field').on('keyup', function (e) {
            if ('' != this.value) {
                var reg = new RegExp(this.value, 'i'); // case-insesitive

                $('.table tbody').find('tr').each(function () {
                    var $me = $(this);
                    if (!$me.children('td:eq(2)').text().match(reg)) {
                        $me.hide();
                    } else {
                        $me.show();
                    }
                });
            } else {
                $('.table tbody').find('tr').show();
            }
        });
    </script>
 
    <script>
        $('.test2').on('keyup', function (e)
        {
            if (!this.value.trim())
            {
                this.value = 0;
            }
            else
            {
                if (!$.isNumeric(this.value))
                    this.value = this.value.substring(0, this.value.length - 1);
                if(this.value.length > 10)
                    this.value = this.value.substring(0, this.value.length - 1);
            }
        });
    </script>

<script>
    $(document).ready(function ()
    {
        $(".NumericValidation").keydown(function (e)
        {
            // Sprawdzenie znaków specjalnych.
            if (KeyIsSpecialCharacter(e))
                return;

            var selectionLength = this.selectionEnd - this.selectionStart
            if (selectionLength != this.value.length)
            {
                if (this.value[0] == 0) {
                    e.preventDefault();
                    return;
                }
            }

            // Upewnia się że jest to liczba jeżeli nie stopuje wciśnięcie
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) )
                e.preventDefault();
        });

        //TODO sprawdzenie procentów
        $('.CheckPercentage').on('keyup', function (e)
        {
            var input = document.getElementById("PercentageFatInput")
        
            if (input.value < 0) input.value = 0;
            if (input.value > 100) input.value = 100;
        });

        function KeyIsSpecialCharacter(e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
                // Pozwala na: Ctrl+A
           (e.keyCode == 65 && e.ctrlKey === true) ||
                // Pozwala na: Ctrl+C
           (e.keyCode == 67 && e.ctrlKey === true) ||
                // Pozwala na: Ctrl+X
           (e.keyCode == 88 && e.ctrlKey === true) ||
                // Pozwala na: home, end, left, right
           (e.keyCode >= 35 && e.keyCode <= 39)) { return true; }

            return false
        }
        UpdateCurrenCalories()
    })
</script>
}



