@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "Layout";

}
<body>
    @RenderBody()
</body>

@section LeftPanel
{
    <div class="ui left vertical menu">
            <div class="ui medium inverted blue left top vertical menu">
                <div class="item">
                    <div class="ui header">Dieta</div>
                    <div class="menu">
                        <a class="item" asp-controller="Diet" asp-action="Day">Dzisiaj</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Moje produkty</div>
                    <div class="menu">
                        <a class="item" asp-controller="Diet" asp-action="ProductList">Baza produktów</a>
                        <a class="item" asp-controller="Diet" asp-action="AddProduct">Dodaj produkt</a>
                    </div>
                </div>
            </div>
    </div>
}

@section Scripts
    {

    <script>  $('.ui.dropdown').dropdown();</script>

    <script>
        $(document).ready(function () {
            $('.sortable.table').tablesort();
        });
    </script>

    <script>
        function showDetails(b)
        {
            var rows = $('#table > tbody > tr')
            for (var i = 0; i < rows.length; i++)
                rows.eq(i).attr('class', ' ');

            $(b).attr('class', 'active')

            var guidId = $("[id='selectedProductId']", b).val();
            var data = { Id: guidId };

            $.ajax({
            url: '@Url.Action("GetProductDetails", "Diet")',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg)
            {
                $('#detailsName').text(msg.name);
                $('#detailsManufacturer').text(msg.manufacturer);
                $('#detailsCalories').text(msg.macro.calories);
                $('#detailsProtein').text(msg.macro.protein);
                $('#detailsFat').text(msg.macro.fat);
                $('#detailsCarbs').text(msg.macro.carbohydrates);
                $('#detailsType').text(msg.type);
                $('#editButton').removeAttr('disabled');
                $('#deleteButton').removeAttr('disabled');
              
                $('input[name="productId"]').val(guidId);
                $('input[name="productDeleteId"]').val(guidId);
                var state = msg.state;
                if (state == 0 || state == 2)
                {
                    $('#cancelSubscribeButton').attr('disabled','');
                    $('#subscribeButton').removeAttr('disabled');
                    $('input[name="productSubscribeId"]').val(guidId);
                }
                else if (state == 1) {
                    $('#cancelSubscribeButton').removeAttr('disabled');
                    $('#subscribeButton').attr('disabled', '');
                    $('input[name="productCancelSubscribeId"]').val(guidId);
                }
                else
                {
                    $('#editButton').attr('disabled', '');
                    $('#deleteButton').attr('disabled', '');
                    $('#subscribeButton').attr('disabled', '');
                    $('#cancelSubscribeButton').attr('disabled', '');
                } 
                    
              
            },

            error: function (xhr, ajaxOptions, thrownError)
            {
                alert(xhr.status);
                alert(thrownError);
            }
        });
        }
    </script>

    <script>
        $('.tabular.menu .item').tab();
    </script>

    <script>
        $('#search-field').on('keyup', function (e) {
            if ('' != this.value) {
                var reg = new RegExp(this.value, 'i'); // case-insesitive

                $('.table tbody').find('tr').each(function () {
                    var $me = $(this);
                    if (!$me.children('td:eq(2)').text().match(reg)) {
                        $me.hide();
                    } else {
                        $me.show();
                    }
                });
            } else {
                $('.table tbody').find('tr').show();
            }
        });
    </script>
 
    <script>
        $('.test2').on('keyup', function (e)
        {
            
            if (!this.value.trim())
            {
                this.value = 0;
            }
            else
            {
                if (!$.isNumeric(this.value))
                    this.value = this.value.substring(0, this.value.length - 1);
                if(this.value.length > 10)
                    this.value = this.value.substring(0, this.value.length - 1);
            }
        });
    </script>
}



