@model  Framework.Models.UserDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Register";
    Layout = "Layout";
}
<body>
    <form class="ui form segment" asp-controller="Register" asp-action="Index" method="post">

        <div class="ui grid">

            <div class="two column row">

                <div class="column">
                    <div class="field">
                        <label>Login *</label>
                        <input placeholder="Login" type="text" asp-for="Login">
                        <span asp-validation-for="Login" class="ui red header"></span>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label>Email *</label>
                        <input placeholder="Email" type="text" asp-for="Email">
                        <span asp-validation-for="Email" class="ui red header"></span>
                    </div>
                </div>

            </div>

            <div class="two column row">

                <div class="column">
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <input type="password" asp-for="Password">
                            <i class="lock icon"></i>
                        </div>
                        <span asp-validation-for="Password" class="ui red header"></span>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label>Confirm password</label>
                        <div class="ui left icon input">
                            <input type="password" asp-for="PasswordConfirmation">
                            <i class="lock icon"></i>
                        </div>
                        <span asp-validation-for="PasswordConfirmation" class="ui red header"></span>
                    </div>
                </div>

            </div>

            <div class="four column row">

                <div class="column">
                    <div class="field">
                        <label>Gender</label>
                        <div class="ui selection dropdown" asp-for="Gender">
                            <input name="gender" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Gender</div>
                            <div class="menu">
                                <div class="item" data-value="1">Male</div>
                                <div class="item" data-value="2">Female</div>
                            </div>
                        </div>
     
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label>Height</label>
                        <div class="ui right labeled input">
                            <input placeholder="Enter height.." type="text" asp-for="Height">
                                <div class="ui dropdown label" asp-for="HeightUnit">
                                    <input name="WeightType" type="hidden">
                                    <div class="text">cm</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        @foreach (var item in @Html.GetEnumSelectList(typeof(Framework.Models.HeightUnit)))
                                        {
                                            <div class="item" data-value="@item.Value">@item.Text</div>
                                        }
                                    </div>
                                </div>
                        </div>
                        <span asp-validation-for="Height" class="ui red header"></span>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label>Weight</label>
                        <div class="ui right labeled input">
                            <input placeholder="Enter weight.." type="text" asp-for="Weight">
                            <div class="ui basic label">
                                kg
                            </div>
                        </div>
                        <span asp-validation-for="Weight" class="ui red header"></span>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label>Age</label>
                        <div class="ui right labeled input">
                            <input placeholder="Enter age..." type="text" asp-for="Age">
                            <div class="ui basic label">
                                Age
                            </div>
                        </div>
                        <span asp-validation-for="Age" class="ui red header"></span>
                    </div>
                </div>

            </div>

            <div class="column centered"> 
                <button class="ui blue button" type="submit" >Submit
                </button>
            </div>

        </div>

    </form>
@section Scripts
    {
        <script>  $('.ui.dropdown').dropdown('refresh');</script>
    }

</body>




